backend/public/*
backend/node_modules/*
backend/.next/*
geoserver_data/
.mypy_cache/
.ipynb_checkpoints/
.vscode/
# Exclude large backup files
Frontrunner/backups/*.sql
*.sql.backup
*.backup
Frontrunner/backup.sql
Frontrunner/backups/*
sql_backups/*
backend/.next/*