-- Simplified Speed Management Schema
-- For each road's lane segments, store max speed per vehicle model (Komatsu, CAT, etc.)

-- Prerequisites
CREATE EXTENSION IF NOT EXISTS btree_gist;

-- Set schema
SET search_path TO combined_data, public;

-- Vehicle series/models table (Komatsu 980E-4, CAT 797F, etc.)
CREATE TABLE IF NOT EXISTS combined_data.vehicle_series (
  series_id SERIAL PRIMARY KEY,
  unit_type_id INTEGER NOT NULL,
  series_name VARCHAR(100) NOT NULL,  -- e.g., "Komatsu 980E-4", "CAT 797F"
  series_code VARCHAR(50) UNIQUE,     -- e.g., "KOMATSU980E4", "CAT797F"
  manufacturer VARCHAR(50),            -- e.g., "Komatsu", "Caterpillar"
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  last_modified TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Speed limits table: lane_id + vehicle model + max speed
CREATE TABLE IF NOT EXISTS combined_data.road_speed_limits (
  speed_limit_id SERIAL PRIMARY KEY,
  road_id TEXT NOT NULL,
  lane_id TEXT NOT NULL,
  series_id INTEGER NOT NULL REFERENCES combined_data.vehicle_series(series_id),
  max_speed_kmh DECIMAL(6,2) NOT NULL,
  from_measure DECIMAL(10,2) NOT NULL DEFAULT 0.0,
  to_measure DECIMAL(10,2),
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  last_modified TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  CONSTRAINT ck_valid_measure_range CHECK (from_measure < COALESCE(to_measure, 999999))
);

-- Indexes for performance
CREATE INDEX IF NOT EXISTS idx_road_speed_limits_road ON combined_data.road_speed_limits (road_id);
CREATE INDEX IF NOT EXISTS idx_road_speed_limits_lane ON combined_data.road_speed_limits (lane_id);
CREATE INDEX IF NOT EXISTS idx_road_speed_limits_series ON combined_data.road_speed_limits (series_id);
CREATE INDEX IF NOT EXISTS idx_vehicle_series_unit_type ON combined_data.vehicle_series (unit_type_id);

-- Insert common vehicle models

-- Sample data for roads 5862758 and 5859678
INSERT INTO combined_data.road_speed_limits (road_id, lane_id, series_id, max_speed_kmh, from_measure, to_measure) 
SELECT 
  '5862758',
  'road_5862758_0_forward',
  series_id,
  CASE 
    WHEN unit_type_id = 249 THEN 50.0  -- Trucks
    WHEN unit_type_id = 250 THEN 10.0  -- Shovels
    WHEN unit_type_id = 262 THEN 20.0  -- Graders
    WHEN unit_type_id = 266 THEN 30.0  -- Water Trucks
    WHEN unit_type_id = 267 THEN 40.0  -- Utility
    ELSE 25.0
  END,
  0.0,
  1276.0
FROM combined_data.vehicle_series
WHERE series_id IN (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12)
ON CONFLICT DO NOTHING;

INSERT INTO combined_data.road_speed_limits (road_id, lane_id, series_id, max_speed_kmh, from_measure, to_measure) 
SELECT 
  '5859678',
  'road_5859678_0_forward',
  series_id,
  CASE 
    WHEN unit_type_id = 249 THEN 45.0  -- Trucks
    WHEN unit_type_id = 250 THEN 10.0  -- Shovels
    WHEN unit_type_id = 262 THEN 20.0  -- Graders
    WHEN unit_type_id = 266 THEN 30.0  -- Water Trucks
    WHEN unit_type_id = 267 THEN 40.0  -- Utility
    ELSE 25.0
  END,
  0.0,
  1276.0
FROM combined_data.vehicle_series
WHERE series_id IN (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12)
ON CONFLICT DO NOTHING;

COMMENT ON TABLE combined_data.road_speed_limits IS 'Speed limits: road + lane + vehicle model = max speed';
COMMENT ON TABLE combined_data.vehicle_series IS 'Vehicle models/series (Komatsu, CAT, etc.)';
