.page {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #111722;
}

.map {
  position: absolute;
  top: 40px; /* match TopMenuBar height */
  left: 0;
  right: 0;
  bottom: 0;
  background: #111722;
}


