-- Insert required roads data for trolley system
INSERT INTO roads (road_id, road_name, start_location_id, end_location_id) VALUES
(1, 'Trolley Route 1', NULL, NULL),
(2, 'Trolley Route 2', NULL, NULL),
(3, 'Trolley Route 3', NULL, NULL);

-- Insert required unit type for electrical trucks
INSERT INTO unit_types (unit_type_id, enum_type_id, description, abbreviation, flags) VALUES
(249, 1, 'Electrical Truck', 'ET', 0);

-- Trolley Support Structures
-- Physical infrastructure that supports overhead powerlines
CREATE TABLE trolley_supports (
    support_id SERIAL PRIMARY KEY,                                      -- Unique identifier
    lane_id VARCHAR(50) REFERENCES lane_segments(lane_id),              -- Associated lane segment
    measure DECIMAL(10,2) NOT NULL,                                     -- LRS measure position (meters)
    geometry GEOMETRY(POINT, 4326),                                     -- GPS coordinates
    support_type VARCHAR(30) CHECK (support_type IN ('pole', 'gantry', 'bridge', 'tunnel')),  -- Structure type
    support_material VARCHAR(30) CHECK (support_material IN ('steel', 'concrete', 'wood')),  -- Material composition
    height_m DECIMAL(6,2),                                              -- Height above ground (meters)
    last_inspection_date DATE,                                          -- Last inspection date
    next_inspection_date DATE,                                          -- Next scheduled inspection
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,                     -- Record creation timestamp
    last_modified TIMESTAMP DEFAULT CURRENT_TIMESTAMP                   -- Last modification timestamp
);


-- Electrical Substations
-- Power conversion facilities that transform grid voltage to trolley system voltage
CREATE TABLE trolley_substations (
    substation_id SERIAL PRIMARY KEY,                                   -- Unique identifier
    substation_name VARCHAR(100) NOT NULL,                              -- Human-readable name
    substation_code VARCHAR(20) UNIQUE,                                 -- Short reference code
    geometry GEOMETRY(POINT, 4326),                                     -- Location coordinates
    input_voltage_v INTEGER,                                            -- Input voltage from grid (V)
    output_voltage_v INTEGER,                                           -- Output voltage to trolleys (V)
    capacity_kva DECIMAL(10,2),                                         -- Power capacity (kVA)
    status VARCHAR(20) CHECK (status IN ('active', 'inactive', 'maintenance')),  -- Operational status
    connected_lanes VARCHAR(50)[],                                      -- Array of connected lane IDs
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,                     -- Creation timestamp
    last_modified TIMESTAMP DEFAULT CURRENT_TIMESTAMP                   -- Modification timestamp
);

-- Power Generators and Energy Sources
-- Primary power generation equipment for the trolley system
CREATE TABLE power_generators (
    generator_id SERIAL PRIMARY KEY,                                    -- Unique identifier
    generator_name VARCHAR(100) NOT NULL,                               -- Human-readable name
    generator_code VARCHAR(20) UNIQUE,                                  -- Short reference code
    geometry GEOMETRY(POINT, 4326),                                     -- Location coordinates
    generator_type VARCHAR(30) CHECK (generator_type IN ('diesel', 'gas_turbine', 'solar', 'wind', 'battery', 'hybrid')),  -- Generator type
    capacity_kw DECIMAL(10,2),                                          -- Power capacity (kW)
    voltage_output_v INTEGER,                                           -- Output voltage (V)
    frequency_hz DECIMAL(5,2) DEFAULT 50.0,                            -- Output frequency (Hz)
    fuel_type VARCHAR(30),                                              -- Fuel type
    fuel_capacity_l DECIMAL(10,2),                                      -- Fuel tank capacity (L)
    current_fuel_level_l DECIMAL(10,2),                                 -- Current fuel level (L)
    efficiency_percent DECIMAL(5,2),                                    -- Efficiency percentage
    status VARCHAR(20) CHECK (status IN ('running', 'stopped', 'maintenance', 'fault')),  -- Operational status
    last_maintenance_date DATE,                                         -- Last maintenance date
    next_maintenance_date DATE,                                         -- Next maintenance date
    connected_substations INTEGER[],                                    -- Array of connected substation IDs
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,                     -- Creation timestamp
    last_modified TIMESTAMP DEFAULT CURRENT_TIMESTAMP                   -- Modification timestamp
);

-- Electrical Truck Fleet
-- Mining trucks that operate on the trolley power system
-- References existing unit_types from main schema (249=Truck, 266=Water Truck)
CREATE TABLE electrical_trucks (
    truck_id SERIAL PRIMARY KEY,                                        -- Unique identifier
    unit_type_id INTEGER REFERENCES unit_types(unit_type_id),          -- Link to existing unit_types
    truck_name VARCHAR(100) NOT NULL,                                   -- Human-readable name
    truck_model VARCHAR(50) NOT NULL,                                   -- Truck model (K930E, K830E, K980E, etc.)
    geometry GEOMETRY(POINT, 4326),                                     -- Current location coordinates
    drive_system VARCHAR(20) DEFAULT 'ELECTRICAL',                      -- Drive system type
    max_voltage_v INTEGER,                                              -- Maximum operating voltage (V)
    max_current_a DECIMAL(8,2),                                         -- Maximum current draw (A)
    battery_capacity_kwh DECIMAL(8,2),                                  -- Battery capacity (kWh)
    current_battery_level_percent DECIMAL(5,2),                         -- Current battery level (%)
    power_consumption_kw DECIMAL(8,2),                                  -- Average power consumption (kW)
    trolley_connection_type VARCHAR(30),                                -- Trolley connection type
    status VARCHAR(20) CHECK (status IN ('operational', 'charging', 'maintenance', 'fault')),  -- Operational status
    current_route VARCHAR(100),                                         -- Current route identifier
    last_charge_time TIMESTAMP,                                         -- Last charge timestamp
    next_maintenance_date DATE,                                         -- Next maintenance date
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,                     -- Creation timestamp
    last_modified TIMESTAMP DEFAULT CURRENT_TIMESTAMP                   -- Modification timestamp
);

-- Powerline Routes as Lane Conditions
-- Powerline routes are stored as lane_conditions for LRS consistency
-- Each powerline becomes a condition on the lane with electrical specifications

-- Power Events as Lane Conditions (LRS Integration)
-- Power events stored as lane_conditions for LRS consistency
-- Integrates power monitoring with existing linear referencing system

-- Database Indexes
-- Performance optimization indexes for spatial and LRS queries

-- Spatial Indexes
CREATE INDEX idx_trolley_supports_geometry ON trolley_supports USING GIST (geometry);
CREATE INDEX idx_trolley_substations_geometry ON trolley_substations USING GIST (geometry);
CREATE INDEX idx_power_generators_geometry ON power_generators USING GIST (geometry);
CREATE INDEX idx_electrical_trucks_geometry ON electrical_trucks USING GIST (geometry);

-- LRS Measure Indexes
CREATE INDEX idx_trolley_supports_measure ON trolley_supports (measure);

-- Lane Integration Indexes
CREATE INDEX idx_trolley_supports_lane ON trolley_supports (lane_id);

-- Power System Indexes
CREATE INDEX idx_power_generators_status ON power_generators (status);
CREATE INDEX idx_power_generators_type ON power_generators (generator_type);
CREATE INDEX idx_electrical_trucks_model ON electrical_trucks (truck_model);
CREATE INDEX idx_electrical_trucks_status ON electrical_trucks (status);
CREATE INDEX idx_electrical_trucks_unit_type ON electrical_trucks (unit_type_id);

-- Power Events in Lane Conditions Indexes
CREATE INDEX idx_lane_conditions_power_type ON lane_conditions (condition_type) WHERE condition_type LIKE 'power_%';
CREATE INDEX idx_lane_conditions_power_events ON lane_conditions (condition_type, effective_start, effective_end) WHERE condition_type IN ('power_outage', 'power_voltage_drop', 'power_overload', 'power_fault', 'power_restoration', 'powerline_route');

-- Sample Trolley Lane Segments
-- Example lane segments for trolley system testing

-- Insert trolley-specific lane segments

-- Trolley System Conditions and Specifications
-- Electrical system parameters and operational conditions for trolley lanes

-- Sample trolley-specific conditions

-- Sample Trolley Supports and Substations
-- Test data for trolley infrastructure components

-- Sample trolley supports

-- Sample trolley substations

-- Backwater Mine Real Data - Generators and Power Sources
-- Actual generator data from Backwater Mine operations

-- Power generators based on Backwater Mine infrastructure

-- Backwater Mine Real Data - Electrical Truck Fleet
-- Actual truck fleet data from Backwater Mine operations

-- Electrical trucks based on Backwater Mine fleet
-- Note: unit_type_id should reference existing records in main schema (249=Truck)

-- Backwater Mine Real Data - Powerline Routes as Lane Conditions
-- Powerline routes stored as lane_conditions for LRS consistency

-- Powerline routes as lane conditions

-- Backwater Mine Real Data - Power Events as Lane Conditions
-- Power events integrated into lane_conditions for LRS consistency

-- Power outage events as lane conditions
INSERT INTO lane_conditions (lane_id, start_measure, end_measure, condition_type, condition_value, effective_start, effective_end) VALUES
-- Voltage drop events
('trolley_1_0_forward', 0.0, 100.0, 'power_voltage_drop', '580V,195A,113.1kW,49.8Hz,0.92PF', '2024-01-20 14:30:00', '2024-01-20 15:45:00'),
('trolley_1_1_forward', 0.0, 100.0, 'power_voltage_drop', '580V,195A,113.1kW,49.8Hz,0.92PF', '2024-01-20 14:30:00', '2024-01-20 15:45:00'),

-- Scheduled maintenance events
('trolley_2_0_forward', 0.0, 50.0, 'power_maintenance', '600V,0A,0kW,50Hz,1.0PF', '2024-01-21 02:00:00', '2024-01-21 04:00:00'),

-- Overload events
('trolley_1_0_forward', 25.0, 75.0, 'power_overload', '590V,220A,129.8kW,49.5Hz,0.88PF', '2024-01-19 16:20:00', '2024-01-19 16:35:00'),
('trolley_1_1_forward', 25.0, 75.0, 'power_overload', '590V,220A,129.8kW,49.5Hz,0.88PF', '2024-01-19 16:20:00', '2024-01-19 16:35:00'),

-- Power fault events
('trolley_2_1_forward', 0.0, 100.0, 'power_fault', '0V,0A,0kW,0Hz,0PF', '2024-01-18 11:15:00', '2024-01-18 13:30:00'),

-- Power restoration events
('trolley_1_0_forward', 0.0, 100.0, 'power_restoration', '600V,200A,120kW,50Hz,0.95PF', '2024-01-20 15:45:00', '2024-01-20 16:00:00'),
('trolley_2_1_forward', 0.0, 100.0, 'power_restoration', '750V,250A,187.5kW,50Hz,0.95PF', '2024-01-18 13:30:00', '2024-01-18 13:45:00'),


-- Views for Power System Monitoring
-- Database views for power system status and monitoring

-- View for active power system status
CREATE VIEW v_power_system_status AS
SELECT 
    'generator' as component_type,
    generator_id as component_id,
    generator_name as component_name,
    generator_code as component_code,
    status,
    capacity_kw as capacity,
    efficiency_percent as efficiency,
    geometry
FROM power_generators
WHERE status IN ('running', 'active')

UNION ALL

SELECT 
    'substation' as component_type,
    substation_id as component_id,
    substation_name as component_name,
    substation_code as component_code,
    status,
    capacity_kva as capacity,
    power_factor * 100 as efficiency,
    geometry
FROM trolley_substations
WHERE status = 'active'

;

-- View for electrical truck fleet status
CREATE VIEW v_truck_fleet_status AS
SELECT 
    et.truck_id,
    et.truck_name,
    et.truck_model,
    et.drive_system,
    et.current_battery_level_percent,
    et.power_consumption_kw,
    et.status,
    et.current_route,
    et.last_charge_time,
    et.geometry,
    ut.description as unit_type_description,
    CASE 
        WHEN et.current_battery_level_percent < 20 THEN 'critical'
        WHEN et.current_battery_level_percent < 40 THEN 'low'
        WHEN et.current_battery_level_percent < 70 THEN 'medium'
        ELSE 'good'
    END as battery_status
FROM electrical_trucks et
LEFT JOIN unit_types ut ON et.unit_type_id = ut.unit_type_id;

-- View for power events summary (from lane_conditions)
CREATE VIEW v_power_events_summary AS
SELECT 
    lc.condition_id as event_id,
    lc.condition_type as event_type,
    CASE 
        WHEN lc.condition_type = 'power_fault' THEN 'critical'
        WHEN lc.condition_type = 'power_overload' THEN 'high'
        WHEN lc.condition_type = 'power_voltage_drop' THEN 'medium'
        WHEN lc.condition_type = 'power_maintenance' THEN 'low'
        ELSE 'medium'
    END as event_severity,
    lc.effective_start as start_time,
    lc.effective_end as end_time,
    lc.lane_id,
    lc.start_measure,
    lc.end_measure,
    lc.condition_value as power_parameters,
    lc.created_at
FROM lane_conditions lc
WHERE lc.condition_type LIKE 'power_%'
ORDER BY lc.effective_start DESC;

-- LRS and Spatial Functions
-- Functions for linear referencing system and spatial queries

-- Function to get conditions at a specific LRS measure
CREATE OR REPLACE FUNCTION get_conditions_at_measure(lane_id_param VARCHAR, measure_param DECIMAL)
RETURNS TABLE (
    condition_id INTEGER,
    condition_type VARCHAR,
    condition_value VARCHAR,
    start_measure DECIMAL,
    end_measure DECIMAL,
    effective_start TIMESTAMP,
    effective_end TIMESTAMP
) AS $$
BEGIN
    RETURN QUERY
    SELECT 
        lc.condition_id,
        lc.condition_type,
        lc.condition_value,
        lc.start_measure,
        lc.end_measure,
        lc.effective_start,
        lc.effective_end
    FROM lane_conditions lc
    WHERE lc.lane_id = lane_id_param
      AND lc.start_measure <= measure_param
      AND lc.end_measure >= measure_param
      AND lc.effective_start <= CURRENT_TIMESTAMP
      AND (lc.effective_end IS NULL OR lc.effective_end >= CURRENT_TIMESTAMP)
    ORDER BY lc.effective_start DESC;
END;
$$ LANGUAGE plpgsql;

-- Function to get lane geometry with measures
CREATE OR REPLACE FUNCTION get_lane_geometry_with_measures(lane_id_param VARCHAR)
RETURNS TABLE (
    lane_id VARCHAR,
    lane_name VARCHAR,
    geometry GEOMETRY,
    length_m DECIMAL,
    start_point GEOMETRY,
    end_point GEOMETRY
) AS $$
BEGIN
    RETURN QUERY
    SELECT 
        ls.lane_id,
        ls.lane_name,
        ls.geometry,
        ls.length_m,
        ST_StartPoint(ls.geometry) as start_point,
        ST_EndPoint(ls.geometry) as end_point
    FROM lane_segments ls
    WHERE ls.lane_id = lane_id_param;
END;
$$ LANGUAGE plpgsql;

-- Function to find nearest lane to a point
CREATE OR REPLACE FUNCTION find_nearest_lane(point_geom GEOMETRY, search_radius_m DECIMAL DEFAULT 1000.0)
RETURNS TABLE (
    lane_id VARCHAR,
    lane_name VARCHAR,
    distance_m DECIMAL,
    geometry GEOMETRY
) AS $$
BEGIN
    RETURN QUERY
    SELECT 
        ls.lane_id,
        ls.lane_name,
        ST_Distance(ls.geometry, point_geom) * 111320 as distance_m, -- Rough conversion to meters
        ls.geometry
    FROM lane_segments ls
    WHERE ST_DWithin(ls.geometry, point_geom, search_radius_m / 111320.0) -- Convert meters to degrees
    ORDER BY ST_Distance(ls.geometry, point_geom)
    LIMIT 1;
END;
$$ LANGUAGE plpgsql;

-- Function to get lane conditions within a measure range
CREATE OR REPLACE FUNCTION get_conditions_in_range(lane_id_param VARCHAR, start_measure_param DECIMAL, end_measure_param DECIMAL)
RETURNS TABLE (
    condition_id INTEGER,
    condition_type VARCHAR,
    condition_value VARCHAR,
    start_measure DECIMAL,
    end_measure DECIMAL,
    effective_start TIMESTAMP,
    effective_end TIMESTAMP,
    overlap_start DECIMAL,
    overlap_end DECIMAL
) AS $$
BEGIN
    RETURN QUERY
    SELECT 
        lc.condition_id,
        lc.condition_type,
        lc.condition_value,
        lc.start_measure,
        lc.end_measure,
        lc.effective_start,
        lc.effective_end,
        GREATEST(lc.start_measure, start_measure_param) as overlap_start,
        LEAST(lc.end_measure, end_measure_param) as overlap_end
    FROM lane_conditions lc
    WHERE lc.lane_id = lane_id_param
      AND lc.start_measure <= end_measure_param
      AND lc.end_measure >= start_measure_param
      AND lc.effective_start <= CURRENT_TIMESTAMP
      AND (lc.effective_end IS NULL OR lc.effective_end >= CURRENT_TIMESTAMP)
    ORDER BY lc.start_measure;
END;
$$ LANGUAGE plpgsql;
