-- Watering System LRS Schema for Backwater Mine
-- Integrates watering data from Frontrunner into LRS system
-- Based on cfg_watering configuration and watering_record data

-- Watering Configuration Table
-- Stores system-wide watering parameters from cfg_watering
CREATE TABLE IF NOT EXISTS watering_config (
    config_id SERIAL PRIMARY KEY,
    system_name VARCHAR(32) DEFAULT 'ADE',
    watering_range_width_m INT DEFAULT 16000,        -- 16km width
    watering_range_length_m INT DEFAULT 5000,        -- 5km length
    amount_flat FLOAT DEFAULT 0.5,                   -- Water amount for flat areas
    pattern_flat VARCHAR(32) DEFAULT 'CONTINUOUS',   -- Watering pattern
    amount_ramp FLOAT DEFAULT 0.5,                   -- Water amount for ramps
    pattern_ramp VARCHAR(32) DEFAULT 'CONTINUOUS',   -- Watering pattern
    amount_invalid_inc FLOAT DEFAULT 0.5,            -- Water amount for invalid inclinations
    pattern_invalid_inc VARCHAR(32) DEFAULT 'CONTINUOUS',
    amount_ratio FLOAT DEFAULT 1.0,
    min_inc_ramp FLOAT DEFAULT 0.02,
    max_speed_watering_ms INT DEFAULT 8333,          -- Max speed during watering
    refill_level_percent INT DEFAULT 10,             -- Tank refill threshold
    warn_level_percent INT DEFAULT 15,               -- Low water warning
    delay_reduce_ms INT DEFAULT 1500,                -- Time to reduce watering (1.5s)
    delay_stop_ms INT DEFAULT 1500,                  -- Time to stop watering (1.5s)
    interval_ms INT DEFAULT 1800000,                 -- Watering interval (30 minutes)
    interval_max_ms INT DEFAULT 86400000,            -- Max interval (24 hours)
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Watering Circuits Table
-- Maps to watering_circuit from Frontrunner
CREATE TABLE IF NOT EXISTS watering_circuits (
    circuit_id SERIAL PRIMARY KEY,
    circuit_name VARCHAR(37) NOT NULL,
    circuit_code VARCHAR(20) UNIQUE,
    is_temporary BOOLEAN DEFAULT FALSE,
    description TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Watering Equipment Table (extends existing vehicle system)
-- References existing unit_types from main schema (unit_type_id 249=Truck, 266=Water Truck)
CREATE TABLE IF NOT EXISTS watering_equipment (
    equipment_id SERIAL PRIMARY KEY,
    unit_type_id INT REFERENCES unit_types(unit_type_id),
    equipment_name VARCHAR(50) NOT NULL,
    equipment_code VARCHAR(20) UNIQUE,
    equipment_type VARCHAR(30) CHECK (equipment_type IN ('water_truck', 'grader', 'awt')),
    model VARCHAR(50),
    geometry GEOMETRY(POINT, 4326),
    capacity_liters FLOAT,
    current_water_level_percent FLOAT,
    max_speed_kmh FLOAT,
    watering_system_type VARCHAR(30) CHECK (watering_system_type IN ('spray', 'drip', 'continuous', 'pulse')),
    water_pressure_bar FLOAT,
    flow_rate_lpm FLOAT,
    status VARCHAR(20) CHECK (status IN ('active', 'inactive', 'maintenance', 'broken')),
    current_circuit_id INT REFERENCES watering_circuits(circuit_id),
    last_watering_time TIMESTAMP,
    next_maintenance_date DATE,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Watering Areas Table
-- Maps to watering_area from Frontrunner
CREATE TABLE IF NOT EXISTS watering_areas (
    area_id SERIAL PRIMARY KEY,
    area_name VARCHAR(100) NOT NULL,
    area_code VARCHAR(20) UNIQUE,
    geometry GEOMETRY(POLYGON, 4326),
    watering_ratio FLOAT DEFAULT 0.0,
    display_id SMALLINT,
    description TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Watering Stations Table
-- Water and fuel stations for watering equipment
CREATE TABLE IF NOT EXISTS watering_stations (
    station_id SERIAL PRIMARY KEY,
    station_name VARCHAR(100) NOT NULL,
    station_code VARCHAR(20) UNIQUE,
    station_type VARCHAR(20) CHECK (station_type IN ('water', 'fuel', 'combined')),
    geometry GEOMETRY(POINT, 4326),
    capacity_liters FLOAT,
    current_level_percent FLOAT,
    status VARCHAR(20) CHECK (status IN ('active', 'inactive', 'maintenance')),
    connected_circuits INT[],
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Insert default watering configuration
INSERT INTO watering_config (system_name, watering_range_width_m, watering_range_length_m, amount_flat, pattern_flat, amount_ramp, pattern_ramp, amount_invalid_inc, pattern_invalid_inc, amount_ratio, min_inc_ramp, max_speed_watering_ms, refill_level_percent, warn_level_percent, delay_reduce_ms, delay_stop_ms, interval_ms, interval_max_ms) VALUES
('ADE', 16000, 5000, 0.5, 'CONTINUOUS', 0.5, 'CONTINUOUS', 0.5, 'CONTINUOUS', 1.0, 0.02, 8333, 10, 15, 1500, 1500, 1800000, 86400000);

-- Insert watering circuits based on Frontrunner data

-- Insert watering equipment based on Frontrunner pit_eqmt data
-- References existing unit_types from main schema (249=Truck, 266=Water Truck)

-- Insert watering stations

-- Insert watering areas

-- Create indexes for performance
CREATE INDEX IF NOT EXISTS idx_watering_circuits_name ON watering_circuits(circuit_name);
CREATE INDEX IF NOT EXISTS idx_watering_circuits_code ON watering_circuits(circuit_code);
CREATE INDEX IF NOT EXISTS idx_watering_equipment_name ON watering_equipment(equipment_name);
CREATE INDEX IF NOT EXISTS idx_watering_equipment_code ON watering_equipment(equipment_code);
CREATE INDEX IF NOT EXISTS idx_watering_equipment_status ON watering_equipment(status);
CREATE INDEX IF NOT EXISTS idx_watering_stations_type ON watering_stations(station_type);
CREATE INDEX IF NOT EXISTS idx_watering_stations_status ON watering_stations(status);
CREATE INDEX IF NOT EXISTS idx_watering_areas_geometry ON watering_areas USING GIST(geometry);
CREATE INDEX IF NOT EXISTS idx_watering_stations_geometry ON watering_stations USING GIST(geometry);

-- Add watering events to lane_conditions (LRS integration)
-- These will be added as conditions along existing lane segments

-- Watering schedule events (system-wide configuration)

-- Watering events (actual watering operations)

-- Watering maintenance events

-- Create LRS functions for watering system
-- Get watering events along a route
CREATE OR REPLACE FUNCTION get_watering_events_along_route(
    route_id TEXT,
    start_measure FLOAT,
    end_measure FLOAT
) RETURNS TABLE (
    measure FLOAT,
    water_amount FLOAT,
    grid_x INT,
    grid_y INT,
    timestamp BIGINT,
    equipment TEXT,
    circuit TEXT,
    effective_start TIMESTAMP,
    effective_end TIMESTAMP
) AS $$
BEGIN
    RETURN QUERY
    SELECT 
        lc.start_measure as measure,
        CAST(SPLIT_PART(SPLIT_PART(lc.condition_value, 'water_amount:', 2), ',', 1) AS FLOAT) as water_amount,
        CAST(SPLIT_PART(SPLIT_PART(lc.condition_value, 'grid_x:', 2), ',', 1) AS INT) as grid_x,
        CAST(SPLIT_PART(SPLIT_PART(lc.condition_value, 'grid_y:', 2), ',', 1) AS INT) as grid_y,
        CAST(SPLIT_PART(SPLIT_PART(lc.condition_value, 'timestamp:', 2), ',', 1) AS BIGINT) as timestamp,
        SPLIT_PART(SPLIT_PART(lc.condition_value, 'equipment:', 2), ',', 1) as equipment,
        SPLIT_PART(SPLIT_PART(lc.condition_value, 'circuit:', 2), ',', 1) as circuit,
        lc.effective_start,
        lc.effective_end
    FROM lane_conditions lc
    WHERE lc.lane_id = route_id
    AND lc.condition_type = 'watering_event'
    AND lc.start_measure >= start_measure
    AND lc.end_measure <= end_measure
    ORDER BY lc.start_measure;
END;
$$ LANGUAGE plpgsql;

-- Get watering schedule for a route
CREATE OR REPLACE FUNCTION get_watering_schedule_for_route(
    route_id TEXT
) RETURNS TABLE (
    interval_ms INT,
    interval_max_ms INT,
    pattern TEXT,
    amount FLOAT,
    delay_reduce_ms INT,
    delay_stop_ms INT,
    effective_start TIMESTAMP,
    effective_end TIMESTAMP
) AS $$
BEGIN
    RETURN QUERY
    SELECT 
        CAST(SPLIT_PART(SPLIT_PART(lc.condition_value, 'interval:', 2), ',', 1) AS INT) as interval_ms,
        CAST(SPLIT_PART(SPLIT_PART(lc.condition_value, 'interval_max:', 2), ',', 1) AS INT) as interval_max_ms,
        SPLIT_PART(SPLIT_PART(lc.condition_value, 'pattern:', 2), ',', 1) as pattern,
        CAST(SPLIT_PART(SPLIT_PART(lc.condition_value, 'amount:', 2), ',', 1) AS FLOAT) as amount,
        CAST(SPLIT_PART(SPLIT_PART(lc.condition_value, 'delay_reduce:', 2), ',', 1) AS INT) as delay_reduce_ms,
        CAST(SPLIT_PART(SPLIT_PART(lc.condition_value, 'delay_stop:', 2), ',', 1) AS INT) as delay_stop_ms,
        lc.effective_start,
        lc.effective_end
    FROM lane_conditions lc
    WHERE lc.lane_id = route_id
    AND lc.condition_type = 'watering_schedule'
    LIMIT 1;
END;
$$ LANGUAGE plpgsql;

-- Check if area needs watering based on last watering time
CREATE OR REPLACE FUNCTION needs_watering(
    route_id TEXT,
    measure FLOAT,
    current_time TIMESTAMP
) RETURNS BOOLEAN AS $$
DECLARE
    last_watering_time TIMESTAMP;
    watering_interval INTERVAL;
    max_interval INTERVAL;
BEGIN
    -- Get last watering time for this measure
    SELECT lc.effective_start INTO last_watering_time
    FROM lane_conditions lc
    WHERE lc.lane_id = route_id
    AND lc.condition_type = 'watering_event'
    AND lc.start_measure <= measure
    AND lc.end_measure >= measure
    ORDER BY lc.effective_start DESC
    LIMIT 1;
    
    -- Get watering schedule
    SELECT 
        INTERVAL '1 millisecond' * CAST(SPLIT_PART(SPLIT_PART(lc.condition_value, 'interval:', 2), ',', 1) AS INT),
        INTERVAL '1 millisecond' * CAST(SPLIT_PART(SPLIT_PART(lc.condition_value, 'interval_max:', 2), ',', 1) AS INT)
    INTO watering_interval, max_interval
    FROM lane_conditions lc
    WHERE lc.lane_id = route_id
    AND lc.condition_type = 'watering_schedule'
    LIMIT 1;
    
    -- Check if watering is needed
    IF last_watering_time IS NULL THEN
        RETURN TRUE; -- Never watered
    ELSIF current_time - last_watering_time > watering_interval THEN
        RETURN TRUE; -- Past watering interval
    ELSIF current_time - last_watering_time > max_interval THEN
        RETURN TRUE; -- Past maximum interval
    ELSE
        RETURN FALSE; -- Recently watered
    END IF;
END;
$$ LANGUAGE plpgsql;

-- Get watering equipment status
CREATE OR REPLACE FUNCTION get_watering_equipment_status(
    equipment_code TEXT
) RETURNS TABLE (
    equipment_name TEXT,
    equipment_type TEXT,
    unit_type_description TEXT,
    model TEXT,
    status TEXT,
    current_water_level_percent FLOAT,
    watering_system_type TEXT,
    water_pressure_bar FLOAT,
    flow_rate_lpm FLOAT,
    current_circuit TEXT,
    last_watering_time TIMESTAMP,
    next_maintenance_date DATE,
    latitude FLOAT,
    longitude FLOAT
) AS $$
BEGIN
    RETURN QUERY
    SELECT 
        we.equipment_name,
        we.equipment_type,
        ut.description,
        we.model,
        we.status,
        we.current_water_level_percent,
        we.watering_system_type,
        we.water_pressure_bar,
        we.flow_rate_lpm,
        wc.circuit_name,
        we.last_watering_time,
        we.next_maintenance_date,
        ST_Y(we.geometry) as latitude,
        ST_X(we.geometry) as longitude
    FROM watering_equipment we
    LEFT JOIN unit_types ut ON we.unit_type_id = ut.unit_type_id
    LEFT JOIN watering_circuits wc ON we.current_circuit_id = wc.circuit_id
    WHERE we.equipment_code = equipment_code;
END;
$$ LANGUAGE plpgsql;

-- Create views for easy querying
CREATE VIEW watering_routes AS
SELECT 
    ls.lane_id,
    ls.road_id,
    ls.direction,
    ls.length_m,
    ls.geometry,
    ws.interval_ms,
    ws.interval_max_ms,
    ws.pattern,
    ws.amount,
    ws.delay_reduce_ms,
    ws.delay_stop_ms,
    ws.effective_start,
    ws.effective_end
FROM lane_segments ls
JOIN LATERAL (
    SELECT 
        CAST(SPLIT_PART(SPLIT_PART(lc.condition_value, 'interval:', 2), ',', 1) AS INT) as interval_ms,
        CAST(SPLIT_PART(SPLIT_PART(lc.condition_value, 'interval_max:', 2), ',', 1) AS INT) as interval_max_ms,
        SPLIT_PART(SPLIT_PART(lc.condition_value, 'pattern:', 2), ',', 1) as pattern,
        CAST(SPLIT_PART(SPLIT_PART(lc.condition_value, 'amount:', 2), ',', 1) AS FLOAT) as amount,
        CAST(SPLIT_PART(SPLIT_PART(lc.condition_value, 'delay_reduce:', 2), ',', 1) AS INT) as delay_reduce_ms,
        CAST(SPLIT_PART(SPLIT_PART(lc.condition_value, 'delay_stop:', 2), ',', 1) AS INT) as delay_stop_ms,
        lc.effective_start,
        lc.effective_end
    FROM lane_conditions lc
    WHERE lc.lane_id = ls.lane_id
    AND lc.condition_type = 'watering_schedule'
    LIMIT 1
) ws ON TRUE;

CREATE VIEW watering_events AS
SELECT 
    lc.lane_id,
    lc.start_measure,
    lc.end_measure,
    CAST(SPLIT_PART(SPLIT_PART(lc.condition_value, 'water_amount:', 2), ',', 1) AS FLOAT) as water_amount,
    CAST(SPLIT_PART(SPLIT_PART(lc.condition_value, 'grid_x:', 2), ',', 1) AS INT) as grid_x,
    CAST(SPLIT_PART(SPLIT_PART(lc.condition_value, 'grid_y:', 2), ',', 1) AS INT) as grid_y,
    CAST(SPLIT_PART(SPLIT_PART(lc.condition_value, 'timestamp:', 2), ',', 1) AS BIGINT) as timestamp,
    SPLIT_PART(SPLIT_PART(lc.condition_value, 'equipment:', 2), ',', 1) as equipment,
    SPLIT_PART(SPLIT_PART(lc.condition_value, 'circuit:', 2), ',', 1) as circuit,
    lc.effective_start,
    lc.effective_end
FROM lane_conditions lc
WHERE lc.condition_type = 'watering_event';

-- View for watering equipment with vehicle information
CREATE VIEW watering_equipment_vehicles AS
SELECT 
    we.equipment_id,
    we.equipment_name,
    we.equipment_code,
    we.equipment_type,
    ut.description as unit_type_description,
    we.model,
    we.geometry,
    we.capacity_liters,
    we.current_water_level_percent,
    we.max_speed_kmh,
    we.watering_system_type,
    we.water_pressure_bar,
    we.flow_rate_lpm,
    we.status,
    wc.circuit_name as current_circuit,
    we.last_watering_time,
    we.next_maintenance_date,
    ST_Y(we.geometry) as latitude,
    ST_X(we.geometry) as longitude
FROM watering_equipment we
LEFT JOIN unit_types ut ON we.unit_type_id = ut.unit_type_id
LEFT JOIN watering_circuits wc ON we.current_circuit_id = wc.circuit_id;

-- Add comments for documentation
COMMENT ON TABLE watering_config IS 'System-wide watering configuration parameters from cfg_watering';
COMMENT ON TABLE watering_circuits IS 'Watering circuits/routes from watering_circuit table';
COMMENT ON TABLE watering_equipment IS 'Watering trucks and equipment from pit_eqmt - extends existing vehicle system with unit_types (249=Truck, 266=Water Truck)';
COMMENT ON TABLE watering_areas IS 'Geographic areas requiring watering from watering_area';
COMMENT ON TABLE watering_stations IS 'Water and fuel stations for watering equipment';
COMMENT ON FUNCTION get_watering_events_along_route IS 'Get watering events along a specific route within measure range';
COMMENT ON FUNCTION get_watering_schedule_for_route IS 'Get watering schedule configuration for a route';
COMMENT ON FUNCTION needs_watering IS 'Check if an area needs watering based on last watering time and intervals';
COMMENT ON FUNCTION get_watering_equipment_status IS 'Get current status and information for watering equipment';
COMMENT ON VIEW watering_routes IS 'View of all routes with watering schedules';
COMMENT ON VIEW watering_events IS 'View of all watering events with grid coordinates and equipment info';
