-- Speed Management LRS Schema (Comprehensive)
-- ISO 19148 Linear Referencing Systems compliant speed management
-- ISO/DIS 23725 Autonomous System and Fleet Management System Interoperability compliant
-- LRS-based speed management with proper measure-based referencing
-- Vehicle series-based profiles, normalized conditions, range-based measures, no redundancy
-- Compatible with existing schema - no changes to existing tables

-- Prerequisites
CREATE EXTENSION IF NOT EXISTS btree_gist;

-- 1) Speed management configuration (no km/h stored)
CREATE TABLE IF NOT EXISTS speed_management_config (
  config_id SERIAL PRIMARY KEY,
  config_name VARCHAR(100) NOT NULL,
  system_wide_max_speed_mmps INTEGER DEFAULT 18055,      -- canonical mm/s
  default_acceleration_mmps2 DECIMAL(8,2) DEFAULT 980.0,
  default_deceleration_mmps2 DECIMAL(8,2) DEFAULT 4900.0,
  speed_tolerance_percent DECIMAL(5,2) DEFAULT 5.0,
  violation_warning_threshold DECIMAL(5,2) DEFAULT 10.0,
  violation_critical_threshold DECIMAL(5,2) DEFAULT 25.0,
  autonomous_mode_enabled BOOLEAN DEFAULT TRUE,
  manual_override_enabled BOOLEAN DEFAULT TRUE,
  emergency_brake_enabled BOOLEAN DEFAULT TRUE,
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  last_modified TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- 2) Vehicle conditions dictionary (normalized operational conditions)
CREATE TABLE IF NOT EXISTS vehicle_conditions (
  condition_code TEXT PRIMARY KEY,                      -- e.g., 'loaded','empty','watering','general','passenger','emergency'
  condition_name VARCHAR(100) NOT NULL,                 -- Human-readable name
  condition_description TEXT,                           -- Detailed description
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Seed common vehicle conditions

-- 3) Vehicle series (specific models/series)
CREATE TABLE IF NOT EXISTS vehicle_series (
  series_id SERIAL PRIMARY KEY,
  unit_type_id INTEGER NOT NULL REFERENCES unit_types(unit_type_id),
  series_name VARCHAR(100) NOT NULL,                    -- e.g., "CAT 140M", "Komatsu GD825A-7"
  series_code VARCHAR(50) UNIQUE,                       -- e.g., "CAT140M", "KOMATSU_GD825A7"
  manufacturer VARCHAR(50),                             -- e.g., "Caterpillar", "Komatsu"
  typical_operational_mode VARCHAR(30) CHECK (typical_operational_mode IN ('autonomous','manual','supervised','mixed')),
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  last_modified TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- 4) Speed limits along lane segments (series-specific)
CREATE TABLE IF NOT EXISTS speed_limits (
  speed_limit_id SERIAL PRIMARY KEY,
  lane_id VARCHAR(50) NOT NULL REFERENCES lane_segments(lane_id),
  
  -- Series-specific speed limits
  series_id INTEGER REFERENCES vehicle_series(series_id),    -- Specific vehicle series (includes unit_type_id)

  from_measure DECIMAL(10,2) NOT NULL,
  to_measure   DECIMAL(10,2) NOT NULL,
  -- canonical unit
  speed_limit_mmps INTEGER NOT NULL,
  -- limit kind without ENUM (compat); tighten with CHECK
  speed_limit_type VARCHAR(30) NOT NULL
    CHECK (speed_limit_type IN ('maximum','recommended','minimum','conditional')),

  -- keep compatibility with lane_conditions
  condition_type  VARCHAR(50),       -- e.g., 'loaded','empty','watering','general'
  condition_value VARCHAR(100),      -- value/detail

  -- stable code for indexing/overlap
  condition_code TEXT GENERATED ALWAYS AS (
    COALESCE(condition_type,'') || ':' || COALESCE(condition_value,'')
  ) STORED,

  authority VARCHAR(100),

  -- keep TIMESTAMP (no tz) to match your schema
  effective_start TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  effective_end   TIMESTAMP DEFAULT '2099-12-31 23:59:59',

  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  last_modified TIMESTAMP DEFAULT CURRENT_TIMESTAMP,

  -- ranges for performance/overlaps
  measure_range  numrange
    GENERATED ALWAYS AS (numrange(from_measure::numeric, to_measure::numeric, '[]')) STORED,
  effective_range tsrange
    GENERATED ALWAYS AS (tsrange(effective_start, effective_end, '[]')) STORED,

  CONSTRAINT ck_valid_measure_range CHECK (from_measure < to_measure),
  CONSTRAINT ck_valid_speed_limit   CHECK (speed_limit_mmps > 0),
  CONSTRAINT ck_speed_limit_series CHECK (series_id IS NOT NULL)
);

-- Spatial and performance indexes
CREATE INDEX IF NOT EXISTS idx_speed_limits_lane_range ON speed_limits USING gist (lane_id, measure_range);
CREATE INDEX IF NOT EXISTS idx_speed_limits_effective_range ON speed_limits USING gist (effective_range);
CREATE INDEX IF NOT EXISTS idx_speed_limits_type ON speed_limits (speed_limit_type);
CREATE INDEX IF NOT EXISTS idx_speed_limits_speed ON speed_limits (speed_limit_mmps);
CREATE INDEX IF NOT EXISTS idx_speed_limits_series ON speed_limits (series_id);

-- 5) Speed profiles for vehicle types and series
CREATE TABLE IF NOT EXISTS speed_profiles (
  profile_id SERIAL PRIMARY KEY,
  profile_name VARCHAR(100) NOT NULL,
  profile_code VARCHAR(50) UNIQUE,
  unit_type_id INTEGER REFERENCES unit_types(unit_type_id),
  series_id INTEGER REFERENCES vehicle_series(series_id),    -- Optional: specific vehicle series
  lane_id VARCHAR(50) REFERENCES lane_segments(lane_id),

  from_measure DECIMAL(10,2) NOT NULL,
  to_measure   DECIMAL(10,2) NOT NULL,
  measure_range  numrange
    GENERATED ALWAYS AS (numrange(from_measure::numeric, to_measure::numeric, '[]')) STORED,

  max_speed_mmps INTEGER NOT NULL,
  recommended_speed_mmps INTEGER,
  min_speed_mmps INTEGER,
  acceleration_rate_mmps2 DECIMAL(8,2),
  deceleration_rate_mmps2 DECIMAL(8,2),

  operational_mode VARCHAR(30)
    CHECK (operational_mode IN ('autonomous','manual','supervised','mixed')),

  condition_type  VARCHAR(50),
  condition_value VARCHAR(100),
  condition_code  TEXT GENERATED ALWAYS AS (
    COALESCE(condition_type,'') || ':' || COALESCE(condition_value,'')
  ) STORED,

  effective_start TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  effective_end   TIMESTAMP DEFAULT '2099-12-31 23:59:59',
  effective_range   tsrange
    GENERATED ALWAYS AS (tsrange(effective_start, effective_end, '[]')) STORED,

  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  last_modified TIMESTAMP DEFAULT CURRENT_TIMESTAMP,

  CONSTRAINT ck_profile_measure_range CHECK (from_measure < to_measure),
  CONSTRAINT ck_profile_speeds CHECK (
    (min_speed_mmps IS NULL OR recommended_speed_mmps IS NULL OR max_speed_mmps IS NULL)
    OR (min_speed_mmps <= recommended_speed_mmps AND recommended_speed_mmps <= max_speed_mmps)
  )
);

-- Spatial and performance indexes
CREATE INDEX IF NOT EXISTS idx_speed_profiles_lane_range ON speed_profiles USING gist (lane_id, measure_range);
CREATE INDEX IF NOT EXISTS idx_speed_profiles_effective_range ON speed_profiles USING gist (effective_range);
CREATE INDEX IF NOT EXISTS idx_speed_profiles_unit_type ON speed_profiles (unit_type_id);
CREATE INDEX IF NOT EXISTS idx_speed_profiles_series ON speed_profiles (series_id);

-- 6) Speed events along lane segments
CREATE TABLE IF NOT EXISTS speed_events (
  event_id SERIAL PRIMARY KEY,
  lane_id VARCHAR(50) NOT NULL REFERENCES lane_segments(lane_id),

  from_measure DECIMAL(10,2) NOT NULL,
  to_measure   DECIMAL(10,2) NOT NULL,
  measure_range  numrange
    GENERATED ALWAYS AS (numrange(from_measure::numeric, to_measure::numeric, '[]')) STORED,

  event_type VARCHAR(50) NOT NULL,     -- e.g., 'speed_reduction_zone','work_zone'
  event_value VARCHAR(100),
  speed_limit_mmps INTEGER,

  authority VARCHAR(100),
  effective_start TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  effective_end   TIMESTAMP DEFAULT '2099-12-31 23:59:59',
  effective_range   tsrange
    GENERATED ALWAYS AS (tsrange(effective_start, effective_end, '[]')) STORED,

  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  last_modified TIMESTAMP DEFAULT CURRENT_TIMESTAMP,

  CONSTRAINT ck_event_measure_range CHECK (from_measure < to_measure)
);

-- Spatial and performance indexes
CREATE INDEX IF NOT EXISTS idx_speed_events_lane_range ON speed_events USING gist (lane_id, measure_range);
CREATE INDEX IF NOT EXISTS idx_speed_events_effective_range ON speed_events USING gist (effective_range);
CREATE INDEX IF NOT EXISTS idx_speed_events_type ON speed_events (event_type);

-- 7) Speed exemptions for vehicles and operations
CREATE TABLE IF NOT EXISTS speed_exemptions (
  exemption_id SERIAL PRIMARY KEY,
  exemption_name VARCHAR(100) NOT NULL,
  exemption_type VARCHAR(30)
    CHECK (exemption_type IN ('equipment','operational','emergency','maintenance')),

  unit_type_id INTEGER REFERENCES unit_types(unit_type_id),
  series_id INTEGER REFERENCES vehicle_series(series_id),    -- Optional: specific vehicle series
  lane_id VARCHAR(50) REFERENCES lane_segments(lane_id),

  from_measure DECIMAL(10,2),
  to_measure   DECIMAL(10,2),
  measure_range  numrange
    GENERATED ALWAYS AS (
      CASE WHEN from_measure IS NULL OR to_measure IS NULL
           THEN NULL
           ELSE numrange(from_measure::numeric, to_measure::numeric, '[]')
      END
    ) STORED,

  exemption_reason TEXT,
  authority VARCHAR(100),

  effective_start TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  effective_end   TIMESTAMP DEFAULT '2099-12-31 23:59:59',
  effective_range   tsrange
    GENERATED ALWAYS AS (tsrange(effective_start, effective_end, '[]')) STORED,

  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  last_modified TIMESTAMP DEFAULT CURRENT_TIMESTAMP,

  CONSTRAINT ck_exemption_measure_range CHECK (
    from_measure IS NULL OR to_measure IS NULL OR from_measure < to_measure
  )
);

-- Spatial and performance indexes
CREATE INDEX IF NOT EXISTS idx_speed_exemptions_lane_range ON speed_exemptions USING gist (lane_id, measure_range);
CREATE INDEX IF NOT EXISTS idx_speed_exemptions_effective_range ON speed_exemptions USING gist (effective_range);
CREATE INDEX IF NOT EXISTS idx_speed_exemptions_type ON speed_exemptions (exemption_type);

-- 8) Speed monitoring (history table, mm/s only). Views provide km/h/percent.
CREATE TABLE IF NOT EXISTS speed_monitoring (
  monitoring_id SERIAL PRIMARY KEY,
  unit_type_id INTEGER NOT NULL REFERENCES unit_types(unit_type_id),
  series_id INTEGER REFERENCES vehicle_series(series_id),    -- Optional: specific vehicle series
  lane_id VARCHAR(50) NOT NULL REFERENCES lane_segments(lane_id),
  measure DECIMAL(10,2) NOT NULL,
  recorded_speed_mmps INTEGER NOT NULL,
  applicable_speed_limit_mmps INTEGER,
  violation_type VARCHAR(30)
    CHECK (violation_type IN ('none','warning','critical','emergency')),
  operational_mode VARCHAR(30)
    CHECK (operational_mode IN ('autonomous','manual','supervised','mixed')),

  measurement_timestamp TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Spatial and performance indexes
CREATE INDEX IF NOT EXISTS idx_speed_monitoring_lane_measure ON speed_monitoring (lane_id, measure);
CREATE INDEX IF NOT EXISTS idx_speed_monitoring_timestamp ON speed_monitoring (measurement_timestamp DESC);
CREATE INDEX IF NOT EXISTS idx_speed_monitoring_violation ON speed_monitoring (violation_type) WHERE violation_type <> 'none';
CREATE INDEX IF NOT EXISTS idx_speed_monitoring_unit_type ON speed_monitoring (unit_type_id);
CREATE INDEX IF NOT EXISTS idx_speed_monitoring_series ON speed_monitoring (series_id);

-- 9) Views (presentation only; km/h + %. No redundancy in storage)

CREATE OR REPLACE VIEW speed_limits_view AS
SELECT
  sl.speed_limit_id, sl.lane_id, sl.series_id,
  sl.from_measure, sl.to_measure,
  sl.speed_limit_mmps,
  (sl.speed_limit_mmps * 3.6 / 1000.0)::numeric(6,2) AS speed_limit_kmh,
  sl.speed_limit_type,
  sl.condition_type, sl.condition_value, sl.condition_code,
  sl.authority, sl.effective_start, sl.effective_end,
  ut.description as vehicle_type,
  vs.series_name, vs.manufacturer, vs.model_year
FROM speed_limits sl
JOIN vehicle_series vs ON sl.series_id = vs.series_id
JOIN unit_types ut ON vs.unit_type_id = ut.unit_type_id;

CREATE OR REPLACE VIEW speed_profiles_view AS
SELECT
  sp.profile_id, sp.profile_name, sp.profile_code,
  sp.unit_type_id, sp.series_id, sp.lane_id,
  sp.from_measure, sp.to_measure,
  sp.max_speed_mmps,
  (sp.max_speed_mmps * 3.6 / 1000.0)::numeric(6,2) AS max_speed_kmh,
  sp.recommended_speed_mmps,
  (sp.recommended_speed_mmps * 3.6 / 1000.0)::numeric(6,2) AS recommended_speed_kmh,
  sp.min_speed_mmps,
  (sp.min_speed_mmps * 3.6 / 1000.0)::numeric(6,2) AS min_speed_kmh,
  sp.acceleration_rate_mmps2, sp.deceleration_rate_mmps2,
  sp.operational_mode, sp.condition_type, sp.condition_value, sp.condition_code,
  sp.effective_start, sp.effective_end,
  ut.description as vehicle_type,
  vs.series_name, vs.manufacturer, vs.model_year
FROM speed_profiles sp
LEFT JOIN unit_types ut ON sp.unit_type_id = ut.unit_type_id
LEFT JOIN vehicle_series vs ON sp.series_id = vs.series_id;

CREATE OR REPLACE VIEW speed_monitoring_view AS
SELECT
  monitoring_id, unit_type_id, series_id, lane_id, measure,
  recorded_speed_mmps,
  (recorded_speed_mmps * 3.6 / 1000.0)::numeric(6,2) AS recorded_speed_kmh,
  applicable_speed_limit_mmps,
  (applicable_speed_limit_mmps * 3.6 / 1000.0)::numeric(6,2) AS applicable_speed_limit_kmh,
  CASE WHEN applicable_speed_limit_mmps > 0
       THEN ((recorded_speed_mmps - applicable_speed_limit_mmps)::float / applicable_speed_limit_mmps * 100.0)
       ELSE 0 END::numeric(5,2) AS violation_percentage,
  violation_type, operational_mode, measurement_timestamp,
  ut.description as vehicle_type,
  vs.series_name, vs.manufacturer
FROM speed_monitoring sm
LEFT JOIN unit_types ut ON sm.unit_type_id = ut.unit_type_id
LEFT JOIN vehicle_series vs ON sm.series_id = vs.series_id;

-- 10) Sample Data

-- Insert default configuration
INSERT INTO speed_management_config (config_name, system_wide_max_speed_mmps, default_acceleration_mmps2, default_deceleration_mmps2, speed_tolerance_percent, violation_warning_threshold, violation_critical_threshold, autonomous_mode_enabled, manual_override_enabled, emergency_brake_enabled) VALUES
('Backwater Mine Speed Management', 18055, 980.0, 4900.0, 5.0, 10.0, 25.0, TRUE, TRUE, TRUE);

-- Insert vehicle series data (specific models/series)

-- Insert series-specific speed limits for different vehicle series on different lane segments

-- Insert comprehensive speed profiles for ALL vehicle types and series

-- Insert sample speed events
INSERT INTO speed_events (lane_id, from_measure, to_measure, event_type, event_value, speed_limit_mmps, authority) VALUES
('trolley_1_0', 250.0, 300.0, 'speed_reduction_zone', 'Curve ahead - reduce speed', 8333, 'Mine Safety Authority'),
('trolley_1_0', 750.0, 800.0, 'speed_reduction_zone', 'Loading area - reduce speed', 5555, 'Mine Safety Authority'),
('trolley_2_0', 400.0, 450.0, 'speed_increase_zone', 'Clear straight section', 13888, 'Mine Safety Authority');

-- Insert comprehensive speed exemptions for ALL vehicle types and series

-- Add comments for documentation
COMMENT ON TABLE vehicle_conditions IS 'Normalized operational conditions dictionary - replaces free-text condition types';
COMMENT ON TABLE vehicle_series IS 'Vehicle series/models with specific manufacturer specifications - enables series-based speed profiles';
COMMENT ON TABLE speed_limits IS 'Speed limits along linear features - ISO 19148 compliant measure-based speed management';
COMMENT ON TABLE speed_profiles IS 'Speed profiles for different vehicle types and series - ISO/DIS 23725 compliant';
COMMENT ON TABLE speed_events IS 'Speed-related events along linear features - ISO 19148 compliant event management';
COMMENT ON TABLE speed_monitoring IS 'Speed monitoring and violation tracking - ISO 19148 and ISO/DIS 23725 compliant';
COMMENT ON TABLE speed_exemptions IS 'Speed limit exemptions for equipment and operational conditions - ISO 19148 compliant';
COMMENT ON TABLE speed_management_config IS 'System-wide speed management configuration - ISO/DIS 23725 autonomous fleet management compliant';
